*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: auto;
    height: auto;
    background-color: #FFFDD0;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 80px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items:center;  /* Vertical alignment*/
    justify-content:end; /* Horizontal alignment*/
}

.nav-button,.sidebar-button{
    color: #E97451;
    padding: 0 15px;
    display: flex;
    align-content: center;
    align-items: center;

    font-family: poppins;
    font-size: 1.5rem;

    border-radius: 20px;
    height: 30px;
    
}

nav a:hover{
    background-color: #E97451;
    color: #FFFDD0;
    transition: 0.3s;

}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed; 
    /*This makes sure sidebar is separate from all other content*/

    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: #FFFDD0;
    

    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: flex-start;

    display: none;

}

.sidebar li{
    width:fit-content;
}

.sidebar a{
    width:fit-content;
}

.sidebar a:hover{
    background-color:#E97451;
}

@media(max-width: 776px){
    @media(max-width: 914px){
        .hideOnMobile{
            display: none;
        }
        .mid-section{
            flex-direction: column;
            align-items: center;
        }
        .boy-on-books{
            position: relative;
        }
    }
    