* {
    box-sizing: border-box;
  }
  
  .layerz{
    position: absolute;
    background-color: #fa6723;
    height: 200%;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
  }

  .container {
    width: 100vw;
    height: 50vw;
    position: relative;
    min-width: 400px;
    min-height: 400px;

  }
  .container:hover{
    box-shadow: black;
  }
  
  .artboard {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 200px;
    box-shadow: 0 15px 100px rgba(237, 57, 41, 0.7), 0 3px 35px rgba(0, 0, 0, 0.5);
    transform: scale(0.15);
    transition: transform 1s, box-shadow 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .artboard h1{
    font-family: poppins;
    font-size: 7rem;
    color: #E97451;
  }
  
  
  .active .artboard {
    box-shadow: 0 15px 40px rgba(255, 98, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.2);
    transform: scale(10);
    background: transparent;
  }
  
  .active .background {
    transform: scale(1);
    background: transparent;
  }
  .active .layerz{
    
    transition: 2s;
    background-color: transparent;
    z-index: -22;
  }
  .active .artboard h1{
    transition: 1s;
    color: transparent;
    
  }

  
  













*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: auto;
    height: auto;
    background-color: #FFFDD0;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 80px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items:center;  /* Vertical alignment*/
    justify-content:end; /* Horizontal alignment*/
}

.nav-button,.sidebar-button{
    color: #E97451;
    padding: 0 15px;
    display: flex;
    align-content: center;
    align-items: center;

    font-family: poppins;
    font-size: 1.5rem;

    border-radius: 20px;
    height: 30px;
    
}

nav a:hover{
    background-color: #E97451;
    color: #FFFDD0;
    transition: 0.3s;

}
nav a:hover{
    background-color: #E97451;
    color: #FFFDD0;
    transition: 0.3s;

}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed; 
    /*This makes sure sidebar is separate from all other content*/

    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: #FFFDD0;
    

    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: flex-start;

    display: none;

}

.sidebar li{
    width:fit-content;
}

.sidebar a{
    width:fit-content;
}

.sidebar a:hover{
    background-color:#E97451;
}

/*///////////////////////////////// Navbar css ends here(except media query) ////////////////////////////*/

/*///////////////////////////////// frame2/////////////////////////////////////////*/

.frame2{
    background-color: #FFFDD0;
    display: flex;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 2px 20px 0px;
    

}
.frame2 h1{
    font-family: poppins;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    
}
.frame2_btn{
    background-color: #E97451;
    height: fit-content;
    padding: 18px 30px;
    border-radius: 500px;
    
}
.frame2_btn span{
    font-family: Poppins;
    color: #FFFDD0;
    font-size: 1.4rem;
    
}

/*////////////////////////////////////////////*/

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
    background-color: #E97451;
    width: 100vw;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
}

.marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;

}

.marquee img {
    height: 6vw;
    padding: 2vh;
    padding-left: 5vw;
    background-color: #E97451;
    margin: 0%;
}
/*////////////////////////////////////////////////////////////////////////////*/
.frame3 img{
    width:100vw;
    margin: 0;
    padding: 0%;
    position: absolute;
    z-index: -1;
    align-self: flex-start;
}
.frame3_textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10% ;
    gap: 2px;
    width:90%;
}
.frame3_text{
    font-size: 1.1rem;
    color: #FFFDD0;
    font-family: 'Libre Caslon Text';
}
.frame3_button{
    background-color: #E97451;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}
.frame3_button_a span{
    
    font-family: poppins;
    font-size: 1.2rem;
    color: #FFFDD0;
    padding: 20px;
    text-align: center;
}



@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}





@media(max-width: 914px){
    .hideOnMobile{
        display: none;
    }
}

























